.topnav * {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

.topnav {
  color: #555; 
  background:url(../16.png);
  background-size: cover;
  overflow: hidden;
  position: fixed;
  width: 1024px;
  z-index: 10;
  left: calc((100% - 1024px) / 2);
  top: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 2px 2px 5px #555;
}

.navitems a {
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  float: left;
  line-height: 25px;
}


.topnav-centered {
  float: left;
  width: 80%;
  text-align: center;
}

.topnav-left {
  float: left;
  width: 10%;
}

.topnav-right {
  float: left;
  width: 10%;
  text-align: right;
}

.navitems {
  list-style-type: none;
}

.navitems li {
  display: inline-block;
  width: 100px;
  padding: 10px 10px;
}
.navitems li a{
  color: black;
}

.navitems li:hover {
  background:     #A6FFFF; /* 當滑鼠經過時，背景顏色改變 */
}

.navitems li:hover a { /* 當滑鼠經過時，超連結文字顏色改變*/
  color: lightseagreen; /*藍綠色*/
}

